// 宠物挂件随机移动
#console 
  img#console_climb
    display: block
    position: absolute
    max-width: 240px
    top: 0
    left: 0
    z-index: 2
    margin-top: -140px
    margin-left: 19px
    cursor: pointer
    +maxWidth1200()
      display:none