#flink_sphere
  position: relative
  margin: 40px 0 30px
  #flink_iframe
    border: var(--style-border)
    border-radius: 12px
  .flink_sphereBtn
    display: flex
    width: 100%
    button
      transition: .2s
      margin: 0 auto 0
      color: var(--anzhiyu-card-bg)
      padding: 15px;
      border-radius: 12px;
      background: var(--anzhiyu-fontcolor)
      &:hover
        background: var(--anzhiyu-main)
        color: #fff  
    i
      font-size: 1.3rem
      margin-right: 10px  
    span
      font-size: 1.3rem
      font-weight: 900