:root
  --card-author-avatar-groove-border: rgba(244, 252, 252, 0.3)
  --card-author-avatar-dashed-border: rgba(70, 162, 223, 0.3)
[data-theme="dark"]
  --card-author-avatar-groove-border: rgba(146, 206, 241, 0.6)
  --card-author-avatar-dashed-border: rgba(0, 77, 119, 0.8)

#aside-content .card-widget .author-info-avatar,
#loading-box .loading-bg
  &::before
    content: "";
    width: w = 118px
    height: w
    position: absolute;
    background: transparent;
    border: 10px groove var(--card-author-avatar-groove-border);
    box-shadow: 0 0 10px var(--card-author-avatar-dashed-border);
    border-radius: 50%;
    animation: borderrotate 3s linear infinite alternate
  &::after
    content: "";
    width: w = 108px
    height: w
    position: absolute;
    background: transparent;
    border: 5px dashed var(--card-author-avatar-dashed-border);
    box-shadow: 0 0 5px inset var(--card-author-avatar-groove-border);
    border-radius: 50%;
    animation: borderrotate 10s linear infinite

#aside-content 
  .card-widget 
    .author-info-avatar
      &::before
        left: -10px;
        top: -10px;
      &::after
        left: 0px;
        top: 0px;
      .author-status
        z-index: 1;

#loading-box
  .loading-bg
    &::before
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    &::after
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    .loading-image-dot
      z-index: 1;
@keyframes borderrotate
  0%
    transform: rotateZ(0deg);
  100%
    transform: rotateZ(360deg);       