body[data-type="statistics"]
  #page
    border: 0
    box-shadow: none !important
    padding: 0 !important
    background: 0 0 !important

  .page-title
    display: none
    
  #naokuo_charts
    margin: var(--album-spacing-xxl) 0 0

  .author-content.author-content-item,
  .banner-button-text
    color: var(--font-color) !important