body[data-type="websites"]
  #web_bg
    background: var(--anzhiyu-background);
  #page
    border: 0;
    box-shadow: none !important;
    padding: 0 !important;
    background: 0 0 !important;
    .page-title
      display: none;
  #webSites
    img
      display: block
      margin: 0 auto 20px
      max-width: 100%
      transition: 0.3s
      object-fit: cover
      max-height: 900px

    .flexcard-flink-list > a:hover::before
      display none